<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pawsibilitiesv3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pawsibilities"
        android:roundIcon="@mipmap/pawsfinal_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawsibilitiesV3">
        <activity android:name=".HomeSwipeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VetDurationActivity"
            android:theme="@style/Theme.PawsibilitiesV4"></activity>
        <activity
            android:name=".SearchActivity"
            android:label="Search Here" />
        <activity
            android:name=".SearchEntryActivity"
            android:theme="@style/Theme.PawsibilitiesV4">

        </activity>
        <activity
            android:name=".AdminPanel"
            android:theme="@style/Theme.PawsibilitiesV4"></activity>
        <activity
            android:name=".AddActivity"
            android:theme="@style/Theme.PawsibilitiesV4" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.PawsibilitiesV4" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>